[2015-12-06 19:28] jalooc opened #1 "`[object Object]` instead of svg string in url."
In generated style I get `background: url([object Object]);`, despite following the instructions. Node v4.2.1.

[2015-12-07 11:12] bhovhannes commented on #1
I've added tests and enabled Travis CI to run also on Node 4.2 and everything is green, all tests pass.

@jalooc, this may be an issue with your specific SVG file or with your setup. Can you please provide more details?

[2015-12-07 14:58] jalooc commented on #1
This is one of the svgs I was using:
[code]
I moved on with the setup already so I don't have it, but I did it according to the instructions which are pretty simple. Then I don't think that was a problem. Sorry I can't help you more.

[2015-12-08 06:31] bhovhannes commented on #1
@jalooc, I've tried to put the icon you've provided (red trash can) and everything worked OK for me.
As I see, there may be multiple reasons for the problem you have:
1) Maybe, as you've said, something goes wrong when icon is in `scss` file. Although I've tried to use svg icon in `less` file, and I think it should work fine with other loaders, I hadn't chance to try it with `scss` file.
2) Maybe

[2015-12-08 11:34] jalooc commented on #1
Ok, shortly, my webpack module loader was defined this way:
[code]
and the url in scss file like this:
[code]
The path for the url was correct, because otherwise it would throw errors.

As I said, I used it in a sass, being processed with this loaders:
[code]

That's pretty much everything related to svg loading in my app.

[2015-12-08 14:24] bhovhannes commented on #1
So, I've written 2 more tests (one using `less` and one using `sass`) which mimic your setup. Both of them are passing.
First one is at https://github.com/bhovhannes/svg-url-loader/blob/master/test/loader.spec.js#L79
Second one is at https://github.com/bhovhannes/svg-url-loader/blob/master/test/loader.spec.js#L111

There was a problem under Travis CI under Node 5.1 for `less` test (first one). For

[2015-12-08 14:28] bhovhannes commented on #1
@jalooc, in your webpack config I don't see sass loader, only `style!css!purifycss`. Have you missed something?

As an example for LESS setup I have something like this:
[code]

[2015-12-08 14:57] jalooc commented on #1
Hmm, very interesting observation :D I indeed don't have sass-loader package installed, bit still, I'm using sass scss files and all works correctly. I wonder how it is possible...

[2016-03-18 17:05] chrishakai opened #10 "Document the query noquotes: true parameter"
It took me a while to figure this out (I'm new to webpack), I was about to fork your repository and edit things so that I could remove the quotes. If you have the following in your documentation stating that you can remove quotes by adding the query parameter to the webpack.config.js it would be much easier to use.

[code]

[2016-03-20 19:03] #10 closed

[2016-03-20 19:07] bhovhannes commented on #10
Hi @chrishakai , I've included more details in the docs.
Sending you the link to webpack documentation regarding using loaders: http://webpack.github.io/docs/using-loaders.html
If you're new to webpack, it will be useful. The link above is mentioned in almost all webpack loaders, and so did I in svg-url-loader.

[2016-07-28 08:23] bhovhannes commented on #1
I'm closing this issue, since there is no feedback on this for already half a year.

[2016-07-28 08:23] #1 closed

[2016-08-11 13:46] Guru107 opened #23 "Images appear broken when required"
[code]

[2016-08-30 19:37] chalisegrogan commented on #23
Experiencing the exact same thing here. It looks like there is an issue with double single quotes as well as prepending `module.exports`.

For example:
[code]

[2016-09-01 14:30] bhovhannes commented on #23
You should not get `module.exports=` in the resulting string. That is something which webpack uses internally and it should not appear in a final result.
There is a test cases, checking for the correct output: https://github.com/bhovhannes/svg-url-loader/blob/master/test/loader.spec.js#L62-L79

@Guru107, @chalisegrogan, can you come back with a minimal webpack config and files which result in erro

[2016-09-05 08:04] Guru107 commented on #23
@chalisegrogan @bhovhannes I think i figured out why this happens.

**Steps to reproduce**

1. Add svg-url-loader in webpack config

`{
  				test:/\.svg$/,
  				loader:'svg-url-loader?noquotes'
  			}`

2. Require the svg file in your component like this

`require('svg-url?noquotes!./icons/home.svg')`

Doing above would have `module.exports` in the resulting data uri

**This is how it got fixed*

[2016-09-05 08:18] bhovhannes commented on #23
@Guru107,
In your steps `svg-url-loader` applies twice - first time via webpack config, second time - via `require` call. That's why you get `module.exports` in the resulting url.

You should either write `require('./icons/home.svg')` in order to use only webpack config, or `require('!!svg-url?noquotes!./icons/home.svg')` - that way `svg-url-loader` will override any existing loaders defined in we

[2016-09-05 08:54] Guru107 commented on #23
@bhovhannes Glancing the code snippets in  [Usage](https://github.com/bhovhannes/svg-url-loader#usage) section, I got the idea thats how it has to be used (My Bad 😓  ). It would be great if the above points that you mentioned also be added to the README.

P.S: It would save time, so people won't have to go through [Using Loaders](http://webpack.github.io/docs/using-loaders.html) Docs 😄

[2016-09-07 13:39] gajus opened #28 "CSS is generated with "module.exports" JavaScript code"
My loader configuration:

[code]

The input:

[code]

The output:

[code]

Using:

[code]

[2016-09-07 13:45] gajus opened #29 "Is there a way to load the value of SVG into a variable?"
I need to post-process the value of SVG in SASS.

Use case is defined here, http://stackoverflow.com/a/33435726/368691.

Is there a way to load the SVG as a string into SASS variable?

In effect, it would need to generate a code that looks like this:

[code]

I am assuming that `sass` loader runs after `svg-url-loader`. Is that a correct assumption?

[2016-09-08 13:18] bhovhannes commented on #29
@gajus, in your use case you need unmodified source of SVG image.
This loader by design encodes SVG source so it can be used in data-uri scheme.
So, I think it will not be useful in described situation.

You may want to try [raw-loader](https://github.com/webpack/raw-loader) webpack loader to get SVG contents as a string.

[2016-09-08 13:37] gajus commented on #29
Understood.

[2016-09-08 13:37] #29 closed

[2016-09-19 15:01] bhovhannes commented on #23
Closing this, as it seems to be not an issue, but because of wrong loader usage.
@Guru107, if you have something to add to README, your pull request is very welcome.

[2016-09-19 15:01] #23 closed

[2016-09-21 20:33] gabrielrtakeda commented on #28
Same here.

[2016-09-22 17:12] gabrielrtakeda commented on #28
I'll open a PR to fix this but, i don't know if the solution i take is the best but, solved my problem.

[2016-09-28 21:32] Geeza commented on #28
Same issue here versions used match @gabrielrtakeda

[2016-09-29 14:16] bhovhannes commented on #28
Provided PR fails existing tests, so I think this issue needs more investigation.
Can you please come back with entry file (truncated to the minimum amount of lines required to reproduce the issue) and full webpack config?

[2016-10-17 11:12] gajus commented on #28
Its provided in the original issue.

[2016-10-17 11:38] bhovhannes commented on #28
@gajus, do you use css file as a webpack entry?

[2016-10-28 15:31] bentsai commented on #28
I experienced the same issue and resolved it by excluding the path for my `svg` icons. A snippet of my loaders looks like this:

[code]

My situation is that I have a folder of svg icons I wanted to load as data URL's, so I could explicitly exclude these from the file loader. Maybe that can provide some additional insight, even if that's not what is going on here...

[2016-11-15 09:15] bhovhannes commented on #28
Actually, @bentsai already provided a solution. If you use file-loader, it works together with svg-url-loader, resulting in `module.exports=` in output bundle.

To avoid all issues, one should exclude svg icons referenced from CSS file from file-loader.

To be 100% sure, I've written 2 test cases, one with file-loader configured to handle both TTF and SVG files, and another one configured to handl

[2016-11-15 09:15] #28 closed

[2016-11-16 15:34] samuelpaulc opened #40 "Running url loader on a css file and inter working with svg-sprite-loader"
Can we use this loader on css files where I am including css files?

I am trying this and it does not seem to work when I am also using 'svg-sprite-loader' which I am using for loading icons in js

[2016-11-17 07:16] bhovhannes commented on #40
This loader should be used for SVG files only. It will not work for other kind of files. It can be combined with `css-loader` though to data-uri encode svg icons referenced from CSS file.

As both `svg-sprite-loader` and `svg-url-loader` operate on SVG files and do completely different things, they should not be applied to the same SVG file. It will make no sense.

As a workaround, you can change

[2016-12-13 12:27] liorsharabi opened #46 "svg not appears"
hi

i'm trying to use the svg loader:
[code]

there's no error but the svg is not appear (it's like it didn't find it in he's path)
what do you think could be the problem?

in the webpack config:
[code]

[2016-12-13 12:49] bhovhannes commented on #46
Try to write like this (notice `!!` in require call):
[code]

It seems that your require call and webpack config result in svg-url-loader applied twice to the same icon, resulting in invalid output.

[2016-12-13 16:24] liorsharabi commented on #46
it works!
thank you so much

[2016-12-13 18:46] #46 closed

[2017-01-04 09:58] 1000copy opened #48 "when generate Data URLs,svg (image.src) content is not correct"
bug reproduce procedure

1. main html:main.html

[code]

2. one svg file named 100.svg,just filled circle:

`    <svg xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="#000"/></svg>
    `
3. import svg file from main.js:

[code]

3. and config svg-url-loader in config file (webpack.config.js)：

[code]

limit is larger enough force loader make Data URLs other than external svg

[2017-01-04 19:23] bhovhannes commented on #48
When `limit=1` loader delegates to file-loader, so your svg will be treated as any other image.

[2017-01-05 02:00] greenkeeper[bot] opened #49 "An in-range update of less is breaking the build 🚨"
## Version **2.7.2** of [less](https://github.com/less/less.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bhovhannes/svg-url-loader/compare/greenkeeper%2Fless-2.7.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      less
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2017-01-05 03:35] 1000copy commented on #48
👍  it works

[2017-01-05 03:35] #48 closed

[2017-01-09 08:02] #49 closed

[2017-01-12 08:21] kouhin opened #51 "parseQuery should get a string as first argument"
webpack 2.0

[code]

@bhovhannes This bug is already fixed by loader-utils v0.2.16, but when will the new version of svg-url-loader be released?

[2017-01-17 17:50] karmajunkie commented on #51
+1?

[2017-01-18 10:28] bhovhannes commented on #51
I've just released version 1.1.1.
The issue should be fixed.

[2017-01-18 10:28] #51 closed

[2017-02-07 10:09] lemoustachiste opened #58 "Load SVG fragments?"
Hi there,

thanks for the good work.

I am trying to load fragments of SVG to my class, but it seems the output is incorrect:
[code]
and my webpack config:
[code]
And this is the ouput I can see in Chrome:
[code]
which is ignored as invalid.

Is this even possible? If yes, is it supported by this loader?

Thanks for the help

[2017-02-07 13:35] bhovhannes commented on #58
@lemoustachiste, maybe there is a loader which can handle such cases, I don't know such loader though.
This loader does not support such cases.

[2017-02-15 12:18] GreLI opened #60 "Remove `charset=utf8`"
`;charset=utf8` part in css `url()` seems to be excessive. It looks like modern browsers can parse such SVGs correctly without it, while IE needs url-encoding of non-ascii symbols anyway.

[2017-02-15 13:33] bhovhannes commented on #60
@GreLI, do you know any official source about browser support you've mentioned?
I want to understand which browsers we'll break if remove `;charset=utf8` part...

[2017-02-15 14:44] GreLI commented on #60
With ascii-only symbols it's 100% works everywhere. I've used it with a large russian portal (Yandex). With non-ascii my [quick test](http://codepen.io/GreLI/pen/VPRzNJ) shows that works also everywhere, but only uri-encoded in IE. It seems to have no difference in the respect to presence of charset string.

I believe, it's a combo of a CSS parser and browser URL parser. IE parser is a bit specifi

[2017-02-15 14:51] GreLI commented on #60
Actually, after some playing with it, it seems that *any* value of `charset` make no effect. Either browsers are too smart and detect it automatically, or it just useless.

[2017-02-15 15:05] GreLI commented on #60
No, it doesn't seem to detect (url-encoded) charset other than utf-8, even if I specify it. Probably, URL strings are being parsed as utf-8 by default.

[2017-02-16 12:51] #60 closed

[2017-02-16 14:13] bhovhannes commented on #60
Released in v2.0.2

[2017-02-16 15:14] GreLI commented on #60
Cool! Thanks!

[2017-03-16 11:48] greenkeeper[bot] opened #76 "An in-range update of codecov is breaking the build 🚨"
## Version **2.0.2** of [codecov](https://github.com/codecov/codecov-node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bhovhannes/svg-url-loader/compare/greenkeeper%2Fcodecov-2.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      codecov
    </td>
  </tr>
  <tr>
    <th align=left

[2017-03-16 11:56] #76 closed

[2017-03-28 02:43] iapYang opened #81 "use data-url both in js and css"
Hi there,
Thank you for your awesome work.
i've been use it for quite a moment, but today something went wrong.

I tried to use it in scss, like
`background-image: url('../../image/ignore/arrow.svg');`

But it didn't work fine,
it went out
`background-image: url(data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphic

[2017-03-28 08:04] bhovhannes commented on #81
@iapYang you're doing everything correct.
If the most of your icons are referred from SCSS you should put `noquotes: false` in your webpack config.
But as you've correctly noticed that will break icons in case you are referring them from JS. In order to fix that you should explicitly pass `noquotes` option for each `require` from JS. That is, currently in your JS you're writing:
[code]
You should

[2017-03-29 01:40] iapYang commented on #81
@bhovhannes
Thanks a lot! This works really fine to me.
But in another case, If the most of my icons are referred from JS and I set `noquotes: true`,  is there any way to render it correctly in scss in this case?

Thanks for the help!

[2017-03-29 10:23] bhovhannes commented on #81
You may use different extension for SVG images which you are referring from scss (something like `.scss.svg`). And in webpack config have separate `test` patterns - one for matching `.svg` without `.scss` prefix and another one for matching `.scss.svg`.

[2017-03-30 01:19] iapYang commented on #81
@bhovhannes
Appreciate your patience! Your answer helps me a lot!

[2017-03-30 04:18] bhovhannes commented on #81
@iapYang I am closing this, feel free to open another issue if any.

[2017-03-30 04:18] #81 closed

[2017-04-21 12:29] gajus opened #86 "Add a way to pass fill color as a variable"
It would be nice if I could do (a variation) of this:

[code]

The resulting SVG would be generated using the provided parameters.

[2017-04-21 14:09] bhovhannes commented on #86
@gajus the loader currently does not do any transformations on SVG source. It just encodes the contents of SVG file.
It will be better to implement transformations like this as a separate loader and pass output of that loader to input of svg-url-loader to make them work in a tandem. Additionally transformer loader can minimize SVG using svgo.

[2017-04-21 14:18] gajus commented on #86
For the record, I've ended up using https://github.com/Pavliko/postcss-svg.

I agree that this module should stay lean.

Good to close?

[2017-04-21 14:18] #86 closed

[2017-04-21 14:31] bhovhannes commented on #86
Thanks for sharing postcss-svg and ideas for future improvements!

[2017-04-25 20:10] Hum4n01d commented on #46
@bhovhannes How would I achieve this with ES6?

[2017-04-25 20:16] Hum4n01d commented on #46
Currently I’m doing this: `import mustachio from '!!svg-url-loader?noquotes!../images/mustachio.svg'`

That’s pretty ugly though. Isn’t there a better way?

[2017-05-04 14:52] evilebottnawi opened #91 "[Proposal] Union `svg-url-loader` with `url-loader`."
Be great have one awesome loader. I am a member of `webpack-contrib` and can help with this. Your will also remain the main contributor. I asked about this in `webpack-contrib` slack channel and give :+1: from main contributors `webpack/webpack-contrib`. What do your think about this?

[2017-05-04 15:05] bhovhannes commented on #91
In general I am ok with that. However we should discuss the details. Where is the correct place for such discussion?

[2017-05-04 15:09] evilebottnawi commented on #91
@bhovhannes good news! https://webpack.slack.com/messages/C3NUYSYF4/, just ping me

[2017-05-04 16:21] bhovhannes commented on #91
@evilebottnawi, can you send me an invite for webpack slack team? I think I need it to sign in...

[2017-05-04 18:35] evilebottnawi commented on #91
@bhovhannes oh sorry, gave the wrong link https://webpack.slack.com/messages/C1LUX2DS9/ :smile: or we can `discussion` about this here, if you are comfortable

[2017-05-05 09:21] bhovhannes commented on #91
@evilebottnawi I cannot sign in to webpack team on slack, because I don't have an account there. So, let's speak here. Please bring in any people from `webpack/webpack-contrib` you feel it will be nice to participate in discussion.

Here is how I see the current differences between svg-url-loader and url-loader.
1. My plan for `svg-url-loader` is to add option to minimize imported SVGs using SVGO.

[2017-05-05 10:37] evilebottnawi commented on #91
@bhovhannes

Sounds good, each loader can works in `minify` mode. But `url-loader` handle not only `svg` and maybe it is be related to `compress/compress-images/image/imagemin-loader`. This would keep the compression options (for `imagemin`) in one place, but we can think about this more and we can will find to a common decision. Now we can `https://github.com/Klathmon/imagemin-webpack-plugin` (no

[2017-05-05 14:21] michael-ciniawsky commented on #91
@bhovhannes @evilebottnawi 👋

This would be better as a separate loader chained with `url-loader` then 😛

WIP

We handle all majot deps in webpack-contrib (`loader-utils`, `schema-utils` (Options Validation)) && are actively maintaining the 'core' loaders

Long story short, we could add an `encoding` option to `url-loader`  and optimisations (generic or webpack related) like  this loader currently

[2017-05-05 14:44] bhovhannes commented on #91
@michael-ciniawsky

There is [svgo-loader](https://github.com/rpominov/svgo-loader) which seems to does exactly what I was intended to do here, so that point is not so important at this moment.

Can Travis CI be enabled on url-loader? What can I do from my side to help with that?

Can you (or someone else) enable greenkeeper on `url-loader` repo? What can I do from my side to help with that?

What

[2017-05-05 15:19] evilebottnawi commented on #91
@bhovhannes Yep, PR is be good decision. Let's do PR :+1:

Also do in PR.

In discussion into PR we can find solution for this, maybe not a bad idea to enable `greenkeeper` for this repo and see how correctly their now works.

[2017-05-05 15:21] evilebottnawi commented on #91
@bhovhannes You can do this step-by-step:

1. Add functionality.
2. Add tests.
3. Enable greenkeeper.
4. ...
5. PROFIT!

[2017-05-06 01:01] d3viant0ne commented on #91
@bhovhannes - I'm afraid everyone has gotten ahead of themselves. A few things right out of the gate.

- This needs to be discussed by the webpack-contrib owners.
- There are legal considerations as we are a part of the JavaScript Foundation.
- We do not nor will we ever use Greenkeeper in contrib.
- This discussion will be moved over to https://github.com/webpack-contrib/organization/issues where

[2017-05-08 15:12] MattyBalaam opened #92 "IE11 rendering issues."
I'm unsure if you would consider this within the scope of the project, but felt it might be useful to report to help anyone else in future.

I have noticed that using this method of SVG for background-images, in my case, any image which is over the data threshold of 4026 and not served as an external image appear as pure black, when colours are defined in a <style> block.

This is a Windows 7 mach

[2017-05-15 09:23] hendrikeng opened #95 "Possibility to phrase through html"
Hey there, is it possible with the loader to phrase through the html and replace e.g. <img src="file.svg"> with the corresponding data:uri ? i am a bit confused by all the loaders, thanks a lot

[2017-05-15 14:11] bhovhannes commented on #95
@hendrikeng this is outside of scope of this loader.
To achieve desired effect you may want to use this loader in a tandem with [html-loader](https://github.com/webpack-contrib/html-loader). Reading through "Usage" section it appears that `html-loader` can call other loaders for `<image>` tags.

[2017-05-16 17:40] hendrikeng commented on #95
@bhovhannes thanks a lot :-)

[2017-05-16 17:40] #95 closed

[2017-06-08 07:09] simofacc commented on #92
@MattyBalaam I had the same issue recently but it's not tied specifically to svg-url-loader as I was using the post-css loader to transform SVG files into base64 encoded strings. The issue is that the rendering engine of IE11 works differently for SVG images used as CSS background images, which causes the <style></style> block of SVG files to not work.

The only solution that worked for me was to

[2017-06-08 07:14] MattyBalaam commented on #92
@simofacc This is true, you can use inline styles to get around the 4026 threshold, but style tags in SVGs will work under this size, I have been using this rule successfully on this site. https://www.neweraed.co.uk/

Generally I find this is a fairly happy medium threshold for my use case anyway to keep a filesize balance.

[2017-06-08 07:19] MattyBalaam commented on #92
@simofacc Just had a further thought that someone could write a loader or postcss plugin to rewrite style declarations into inline ones in SVGs. Perhaps someone already has.

[2017-06-08 07:20] simofacc commented on #92
@MattyBalaam I did some research before I did the manual exports again, but I could not find anything myself. It is possible that there is something buried somewhere but this was the fastest way I could do it right now.

[2017-06-08 07:31] MattyBalaam commented on #92
It looks like SVGO might get this option soon. https://github.com/svg/svgo/pull/592

[2017-06-28 07:52] bhovhannes opened #104 "Make loader to always behave as `stripdeclarations=true`"
We need to test if SVG without XML declaration works ok in all modern browsers, including IE11 and Edge.
And if this is the case, `stripdeclarations` option can be removed and set to true to make it a default behaviour of the loader.

cc @malthejorgensen

[2017-06-28 08:00] bhovhannes commented on #40
Closing this as there is no activity for a long time

[2017-06-28 08:00] #40 closed

[2017-06-28 08:01] bhovhannes commented on #58
Closing this as there is no activity for a long time

[2017-06-28 08:01] #58 closed

[2017-06-28 12:38] MilosRasic opened #106 "Module build failed: TypeError: Cannot read property 'limit' of null"
svg-url-loader@2.1.0

When the loader is used without options, like this:
[code]

Build fails with "Module build failed: TypeError: Cannot read property 'limit' of null", once for every svg file the loader attempted to process.

This is easily worked around by supplying empty options:
When the loader is used without options, like this:
[code]
but it would be nice to not have to do this, like with

[2017-06-28 13:37] bhovhannes commented on #106
This is fixed in 2.1.1

[2017-06-28 13:37] #106 closed

[2017-06-28 13:44] jagretz opened #107 "query param no longer returns an empty object"
I recently built with the latest version and it broke the our build due to some changes.

index.js line 10 previous returned an empty obj `{}` when this.query was undefined or null,
`var query = loaderUtils.getOptions(this);`

it now returns undefined which causes line 12,
`var limit = query.limit ? parseInt(query.limit, 10) : 0;`

to throw a TypeError trying to access the `limit` property.

This

[2017-06-28 14:16] bhovhannes commented on #107
This is fixed in 2.1.1

[2017-06-28 14:16] #107 closed

[2017-07-20 12:47] macolo opened #111 "when used with svg fonts, font is not loaded"
I am using svg-url-loader in my webpack config file:
[code]
This CSS is required in `main.js`, it specifies an svg font:
[code]

In this case, all other font formats also dont work. If uncomment the `exclude` for svg-url-loader, the `woff` is loaded correctly.

[2017-07-25 06:31] nottoseethesun opened #112 "Module not found: 'svg-url-loader'"
After running `yarn` as normal, now `require('svg-url-loader!../../images/foo.svg');` (and `require('!svg-url-loader!../../images/foo.svg');` ) results in the error message, `Module not found: 'svg-url-loader'` under `webpack@1.14.0`.   Before that run of `yarn`, the error was never seen, and the error is not seen under `webpack@3.3.0`.  The project has many packages, all of which load fine under

[2017-07-25 07:12] bhovhannes commented on #112
@nottoseethesun I don't see any point in supporting webpack 1. Upgrade to webpack 2/3 is easy and webpack 2/3 has performance improvements which everyone wants to see in his production bundle.
Maybe loader code contains something which makes webpack 1 unhappy.
Can you come back with a sample repo illustrating the issue?

[2017-07-25 15:59] dimafeldman opened #114 "svg files don't seem to be recognized in scss files by svg-url-loader"
Hi,
I'm trying to use svg-url-loader within a scss file, and it seems to always return the url of the file path instead of the encoded sctring.

my webpack rules are:
[code]

and my .scss file:
[code]

css output:
[code]

what am I missing? Thanks!

[2017-07-25 17:17] bhovhannes commented on #114
Your setup is OK.
There is a test in this repo exactly with your setup. Maybe logo.svg is
larger than limit.

On Jul 25, 2017 8:07 PM, "Dima Feldman" <notifications@github.com> wrote:

[2017-07-25 19:50] nottoseethesun commented on #112
Yes you are correct, the issue was webpack 1 - I've upgraded as you suggested and problem solved.

[2017-07-25 19:50] #112 closed

[2017-07-25 20:39] dimafeldman commented on #114
might be, but I've set the limit to 100000, the logo is about 1.5kb :)
maybe i'm not setting the limit correctly?

[2017-07-26 11:12] dimafeldman commented on #114
I found the issue, I was missing the css-loader in my config. when replacing raw-loader to css-loader it resolved the issue.

[2017-07-26 11:12] #114 closed

[2017-09-13 22:15] vadimshvetsov opened #123 "Supporting IDs in SVG for filtering?"
Is it possible to use filters with loader?

For example, I have an SVG like below:
[code]
For using this filter on my background I need to have styles like that:

[code]
How to point to #blur after the output file generated?

[2017-09-14 06:37] bhovhannes commented on #123
It is currently impossible with this loader.
In order to make this working loader should parse SVG, understand IDs, and encode only the part referenced from `url()` part.
This is a non-trivial work and is a little outside of scope of this loader.

[2017-09-14 06:37] #123 closed

[2017-09-14 07:50] vadimshvetsov commented on #123
@bhovhannes Thanks. Maybe there is way to omit certain file in CSS with some declarations before? In `.js` files I can manually configure file like below:
`import logo from '!!svg-url-loader?noquotes!../../img/logo.svg'`

[2017-09-14 12:28] bhovhannes commented on #123
You may want to assign a different extension to the files you want to go through svg-url-loader and tweak a regex in your webpack config to match only that files

[2017-09-14 12:33] vadimshvetsov commented on #123
@bhovhannes Thanks a lot, as workaround it's okay for now.

[2017-09-20 10:20] kgram commented on #92
I believe the issue arises when the src attribute is longer than 4096 chars. Here is an example fiddle: https://jsfiddle.net/kgram/6cLd7c7e/4/

I think it could be fixed by checking the length of the finished data-uri and bailing to file-loader if it's too long. Could maybe be coupled with checking for the presence of a style-tag to avoid unnecessarily bailing.

[2017-09-20 12:18] MattyBalaam commented on #92
@kgram I can confirm this is the case, as reported above the 4026 threshold seemed to avoid any cases of uncoloured SVGs

[2017-09-25 07:32] bhovhannes commented on #92
As #125 has been merged I am closing this one

[2017-09-25 07:32] #92 closed

[2017-09-26 17:49] edmorley opened #126 "Invalid markup generated when combined with html-loader"
**Summary:**

For SVG URLs used in HTML (eg via a template loaded via `html-loader` by `HtmlWebpackPlugin`), superfluous quotes are added to the HTML markup, that break rendering in the browser. Whilst `svg-url-loader` has a `noquotes` option, I wouldn't have expected to have to use it for this use-case given that it's supported natively by `url-loader`.

**STR:**

Run `yarn install && yarn webpac

[2017-09-26 19:14] bhovhannes commented on #126
I see your point.
Have you tried to use noquotes option? Will it fix your issue?

[2017-09-28 15:58] edmorley commented on #126
Hi :-)

Yeah `noquotes` fixes the issue, however it feels like it shouldn't be something that consumers have to know/use to result in valid markup.

I've dug into this some more, and I think the real issue here is that `svg-url-loader` should never wrap in quotes, and the only reason it has to for the CSS `url()` use-case is that `css-loader` is incorrectly stripping quotes for these style of data

[2017-09-29 17:12] alex-shamshurin opened #127 "iesafe option does not work"
I think it's an option to load all svg with size > 4rb with file-loader. But it doesnt' work.

[code]

[2017-10-09 13:56] c0defre4k opened #133 "Allow override of loader options by resourceQuery"
Similar to [svg-fill-loader](https://github.com/kisenka/svg-fill-loader)

E.g.:

[code]

This overrides `noquotes`option from Webpack loader config.

It should be very easy by just merging webpacks ``this.resourceQuery`` with regular query in [Line 10](https://github.com/bhovhannes/svg-url-loader/blob/master/index.js#L10)

[2017-10-16 20:39] EECOLOR commented on #127
If you look at the [source code](https://github.com/bhovhannes/svg-url-loader/blob/master/index.js#L31), it has an additional requirement: your content needs to have a `style` tag.

[2017-10-19 00:29] kayneb opened #137 "When svg is loaded as file, it contains URI-escaped SVG"
While I understand the SVG should be escaped when represented as a data URI, it is invalid for the served SVG file to contain URI escaped content. The URI escaping should be scoped only to when it is consumed as a data URI.

[2017-10-19 10:33] #137 closed

[2017-10-20 13:59] alex-shamshurin commented on #127
No matter, IE11 does not work with `class`. It must not be inlined to support IE11. This option should fix it without conditions.

[2017-10-20 14:45] bhovhannes commented on #127
@kgram, as an author of `iesafe` option, do you have any thoughts on this?

[2017-10-20 15:01] kgram commented on #127
@alex-shamshurin: I don't understand what aspect of classes you would expect to work without a style-tag. Is the problem internal references to masks or something?

I wasn't aware of any broken features besides style-tags, so I made a check to avoid unnecessary bailouts. In my defense, I did document it under the option description ("[..]if the file contains a style-element and the encoded size is

[2017-10-24 16:34] kayneb opened #140 "Unable to set svg-url-loader base config up to support both JS and CSS consumption"
The problem is that when you embed an SVG as a data URI, you don't want quotes around the value, and so the `noquotes: true` config makes sense to suppress that. However, as soon as you do that, the CSS referenced data URIs break as the expectation is that they are wrapped in quotes there.

[2017-10-24 16:38] kayneb commented on #140
This looks to be the same issue as #81

[2017-10-24 18:55] kayneb commented on #140
Which appears to be more of an issue with css-loader. Closing this issue.

[2017-10-24 18:55] #140 closed

[2017-10-25 18:51] kayneb opened #141 "Allow for base64 encoding"
While I 100% agree that base64 encoding of SVGs is less ideal than just embedding the escaped SVG XML, it would be convenient if we had a way of using base64, while taking advantage of the 4096 byte limit.

Because of https://github.com/bhovhannes/svg-url-loader/issues/81 it is not possible to use a single webpack config for SVGs across both CSS and JS. This is inconvenient as it requires our deve

[2017-10-26 19:00] #141 closed

[2017-10-31 08:44] kgram commented on #127
@alex-shamshurin: just a little ping, if you can describe in more detail what the problem is, I'd be happy to take a look at it.

[2017-11-30 09:54] shikelong commented on #127
[leyserPlusLogo.zip](https://github.com/bhovhannes/svg-url-loader/files/1517253/leyserPlusLogo.zip)

hi, @kgram  The svg has style tag, but in ie11, it's has been convert to inline data-url svg and only has black color. I expect it fallback to fileloader.

The loader option:

[code]

Regards.

[2017-12-01 01:48] iamakulov commented on #104
Just tested this.

Here’s the Codepen I used for testing. It includes two sets of `img` and `div` with `background-image` – one with a XML declaration, and another without it: https://codepen.io/iamakulov/pen/KybaEQ

Both sets of images work OK in latest Edge, Chrome, Firefox and IE. To keep options simple, I’d probably deprecate this option and remove it with the next major version. What do you t

[2017-12-01 06:07] bhovhannes commented on #104
Thank you for the demo pen!
I completely agree on removing that option.
It will be major release just in case this is a breaking change for some
folks.

On Dec 1, 2017 5:49 AM, "Ivan Akulov" <notifications@github.com> wrote:

[2017-12-06 20:05] kgram commented on #127
I had expected some sort of weird IE behaviour when using base64, but it turned out to be plain stupidity from myself. When I wrote the feature I forgot that `.` in regex does't match line breaks. All my generated examples are without extra whitespace and everywhere I use the loader myself I have it placed after an optimiser that strips the extra whitespace, so I've never noticed it.

I'm sorry fo

[2017-12-10 14:56] gizm0bill opened #149 "Content is uri encoded"
https://github.com/bhovhannes/svg-url-loader/blob/e1459fd6d2429ebb0276fe1e2ed9f7f8d984c801/index.js#L33

why? please remove

[2017-12-10 16:11] bhovhannes commented on #149
Any issues with this?

On Dec 10, 2017 6:56 PM, "Mihai Balaceanu" <notifications@github.com> wrote:

[2017-12-10 16:24] gizm0bill commented on #149
yes, I'm trying to `require('/path/to.svg')` and I get back a: `data:image/svg+xml,%3Csvg xmlns='...` which is obviously not good for things like `div.innerHTML = svgStr`... also `data:image/svg+xml,` is not needed

[2017-12-10 17:51] bhovhannes commented on #149
Encoding of special characters like `<` is absolutely required if you use
ascii svg encoding in data-uri string.
You may want to read through original article from CSS-tricks about that.
In your case I recommend to use just raw-loader and assign returned string
to your innerHTML.

On Dec 10, 2017 8:24 PM, "Mihai Balaceanu" <notifications@github.com> wrote:

[2017-12-10 18:11] gizm0bill commented on #149
ah yes, you're right. raw loader works good for my case

[2017-12-10 18:11] #149 closed

[2017-12-14 22:06] fringd opened #151 "why do I have to specify noquotes here but not in url-loader?"
I am using some svgs in css and some in img tags... I don't know how uncommon this use case is.

It seems I need `noquotes` to make images work, but that breaks css...

Why is this a problem in svg-url-loader, but not a problem in url-loader?

I love the smaller payload, but i'm temporarily back on url-loader until I can figure this out.

[2017-12-18 09:41] QoVoQ commented on #151
Meet the same problem, looking for a solution.
While setting `noquotes: true`,
` // woubld be invalid if bg.svg is tranformed into inline svg`
`.bg { background: url('~images/bg.svg') }`

`<img src="~images/bg.svg" // would be valid in this case`

Otherwise, setting  `noquotes: false`
` // woubld be valid if bg.svg is tranformed into inline svg`
`.bg { background: url('~images/bg.svg') }`

`<img s

[2017-12-19 09:39] bhovhannes commented on #151
Guys, you need to specify `noquotes` option in image case and do not specify it in css case.
You have to explicitly override loader options in order to achieve that.

But that way you'll have 2 separate images in your bundle. Perhaps it will be better to use url-loader in terms of smaller bundle size...

[2017-12-19 10:53] QoVoQ commented on #151
Thanks for your attention.@bhovhannes
So you suggest us use url-loader? But I don't want inline svg base64 encoded.

[2017-12-19 12:05] bhovhannes commented on #151
@QoVoQ in your example you've mentioned the same image - bg.svg used in 2 different ways. In that case url-loader will give you a smaller bundle size, because bg.svg will be included only once in the final bundle.
In order to use svg-url-loader, you should tell webpack to use `noquotes` parameter in one case and not to use in the other one. It is totally possible.

[2017-12-19 16:15] fringd commented on #151
Is there any webpage configuration that will apply the noquotes=true only
for img tags? Or do you need to do this every time?

On Tue, Dec 19, 2017, 7:05 AM Hovhannes Babayan <notifications@github.com>
wrote:

[2017-12-20 11:27] #127 closed

[2017-12-20 11:31] bhovhannes commented on #151
@fringd , you have to explicitly pass `noquotes` option every time for each `img` tag

[2017-12-20 13:57] fringd commented on #151
Oh I think I tried this, but it would end up double encoding.

On Wed, Dec 20, 2017, 6:31 AM Hovhannes Babayan <notifications@github.com>
wrote:

[2017-12-20 18:25] bhovhannes commented on #151
Are you using double "!" in front of file name? That will tell webpack to
ignore all existing loaders for that kind of file and use only loader
you've explicitly specified.

On Dec 20, 2017 5:57 PM, "Ram Dobson" <notifications@github.com> wrote:

[2017-12-20 18:51] fringd commented on #151
No I didn't know about that!

On Wed, Dec 20, 2017, 1:25 PM Hovhannes Babayan <notifications@github.com>
wrote:

[2018-01-16 10:40] evilebottnawi commented on #91
Close issue here, if someone want this union please recreate issue here https://github.com/webpack-contrib/organization, thanks for everyone!

[2018-01-16 10:40] #91 closed

[2018-02-27 21:11] Mouvedia commented on #81
`issuer: /\.js$/,`

cf https://webpack.js.org/configuration/module/#rule-issuer

[2018-02-28 13:58] evilebottnawi opened #168 "Support `webpack@4`"
[code]

Also be great add `webpach` supported versions in `peerDependencies`. :+1:

[2018-03-07 10:21] bhovhannes commented on #168
Should be fixed by 2.3.2

[2018-03-07 10:21] #168 closed

[2018-03-15 22:53] danielduan commented on #151
you can also use webpack resource queries to determine which loader option you want to use for a given file extension.

[code]

[2018-05-10 15:52] danielduan opened #198 "Integrate SVG-O to strip out unnecessary lines embedded in svgs"
There's this tool that can optimize SVGs and get rid of unnecessary text within SVG files outputted by tools like Illustrator, Sketch, etc. It can sometimes reduce the file size by 50% or more.

https://github.com/svg/svgo

I think it makes sense to run our imports through this before the rest of the url loader conversion work.

Let me know if this is a good idea, I can help with a PR if needed.

[2018-05-10 16:26] bhovhannes commented on #198
If I remember correctly, there is an svgo-loader. You can combine it with
svg-url-loader to achieve needed result.

On Thu, May 10, 2018, 19:52 Daniel Duan <notifications@github.com> wrote:

[2018-05-10 19:46] danielduan commented on #198
Thanks! wasn't aware of that loader. Perhaps this could be listed in the docs too?

[2018-05-10 19:46] #198 closed

[2018-08-10 21:00] bhovhannes commented on #126
@ubnt-marc-khouri I have to check if everything works fine with the new recent version of css-loader and `noquotes=true` option.
If everything will be fine, I'd like to drop `noquotes` option, however I also don't want to break someone's code with the new version.
My very preliminary thoughts (after Friday 🍺) are to publish a new version which will log a warning if `noquotes` option is used. After

[2018-08-17 18:51] durja opened #239 "How to use this in html?"
Can you pls include instruction on how to use this in html using the svg tag

<svg>
<use></use>
</svg>

[2018-08-17 21:27] bhovhannes commented on #239
What do you mean?
This is a webpack loader which allows to `import` svg files from JS files and make them bundle together with other JS files (just as any other loaders do).
This is not a tool for dynamically loading SVG images, or transforming them.

[2018-10-08 06:08] chiaweilee commented on #239
[code]

like this?

[2019-01-30 18:56] UlpiusCode opened #282 "Images svg aren't loading, how to fix?"
CSS Background Image not displaying
1. in browser:
http://funkyimg.com/i/2QLU7.png
2.  scss class:
http://funkyimg.com/i/2QLU8.png
3. webpack.dev.js:
http://funkyimg.com/i/2QLU9.png

[2019-02-06 15:35] evilebottnawi commented on #91
/cc @bhovhannes still interesting with union `url-loader`?

[2019-02-06 19:21] bhovhannes commented on #91
@evilebottnawi after the last comment of @d3viant0ne whole process seems unnecessarily complicated to me.
At this moment I have little time to dedicate to open-source, and if I will I'd better spend it to address some long standing issues here.
So, speaking shortly, no.

[2019-02-06 19:35] evilebottnawi commented on #91
@bhovhannes we implement `decoder` option for `url-loader` so all what you do loader now possible do with `url-loader`, so i think you can be champion of decoder.

[2019-03-04 13:27] joacim-boive opened #293 "Incorrectly escapes # in style-element"
#cceef3 - will be converted to: %23cceef3

[code]

The entire SVG in question

[code]

[2019-04-09 18:31] alexcheuk commented on #282
Also getting this problem

[2019-04-09 18:52] alexcheuk commented on #282
I ended up fixing that issue by removing the `noquotes: true` from options

[2019-04-10 13:10] Neunerlei commented on #111
I stumbled upon this issue today.
It seems to have an issue with the Hashtag inside the font declarations.
After looking through the source code, there are two solutions to this issue:
Either, set the [Encoding](https://github.com/bhovhannes/svg-url-loader#encoding) to "base64".
Or set the [NoQuotes](https://github.com/bhovhannes/svg-url-loader#noquotes) parameter to TRUE.
Both fixes the issues
Ch

[2019-04-23 17:27] dorianrod opened #302 "Question: is there a way to disable plugin inline for few SVG?"
Hi,

Thanks for this plugin, works perfectly.

I use a configuration to import all svg content into my CSS files thanks to my webpack configuration (webapck 3):
{
            test: /\.svg/,
            use: [{
                loader: 'svg-url-loader',
                options: {
                    stripdeclarations: true,
                    encoding: 'base64'
                }
            },

[2019-06-16 19:37] bhovhannes commented on #302
Hi @dorianrod ,

The solution which come to my mind is that you can use different webpack rules for svgs to be imported via svg-url-loader and as urls. Something like this:
[code]

Sorry for extremely late reply, I didn't have much time for open-source stuff.
I am closing this issue, but feel free to add your comments here.

[2019-06-16 19:37] #302 closed

[2019-06-16 19:40] bhovhannes commented on #282
Thanks guys, and sorry for extremely late reply. Didn't have much time for open-source stuff.

@UlpiusCode , @alexcheuk already gave a valid answer, so I am closing this one.
Feel free to comment.

[2019-06-16 19:40] #282 closed

[2019-06-16 19:57] #151 closed

[2019-06-16 21:58] bhovhannes commented on #293
In case of UTF-8 encoding all `#` characters should be encoded.

For example, if we take the following image:
[code]

it will be encoded as:
[code]

Everything works just fine when we put that string in html (you can just copy/paste the code below to codepen).
[code]

@joacim-boive can you create a repo or codepen illustrating your problem?

[2019-06-16 22:04] bhovhannes commented on #293
@joacim-boive your case seems to be similar to #111.

In case you are using image inside your css file, as url(), you need to specify [`noquotes`](https://github.com/bhovhannes/svg-url-loader#noquotes) loader option.

[2019-06-17 06:37] joacim-boive commented on #293
@bhovhannes
Hmmm... I don't remember where I actually had the problem now. :)
Maybe you're noquotes option solves it - I'll come back and respond if/when I find/solve the problem.

Thanks!
/J

[2019-06-17 06:37] #293 closed

[2019-06-29 12:29] #126 closed

[2019-07-24 07:22] zcaceres commented on #81
I used issuer:

[code]

[2019-07-28 01:50] tylercreller opened #323 "Update README to include webpack options configuration for supported parameters"
Currently there is only documentation on how to apply supported parameters via require. Including the webpack versions of these would increase the verbosity of the documentation. I can submit a PR for this if it is something you desire!

[2019-07-28 14:33] bhovhannes commented on #323
Hi,

https://github.com/bhovhannes/svg-url-loader#in-css-with-webpackconfigjs-below this section has a webpack config example.
However I agree that having more examples will be better than just link to webpack loaders docs.

In my opinion it will be best to have examples in the format which is ready for copy/paste, for most used scenarios.

If you can add some examples under https://github.com/bho

[2019-07-28 18:16] tylercreller commented on #323
Sounds good! I've opened up a pull request here https://github.com/bhovhannes/svg-url-loader/pull/324

 Let me know if we would prefer a different format.

[2019-08-30 15:56] evilebottnawi opened #335 "problem with `file-loader` and deps"
Please use `file-loader: "^4.2.0"` in `package.json`, or you can do new release on each `file-loader` version. Now latest `file-loader` use new version of `schema-utils`, but this loader use old version and node_modules contains old version of `schema-utils`. Also some behavior can be improved or changed and it is create incompatibility with original logic in file-loader.

Same for `loader-utils`

[2019-08-30 16:15] bhovhannes commented on #335
I've renovatebot configured which keeps dependencies updated, however sometimes I forget to publish new version of svg-url-loader when dependencies change.

I'll publish one now.

[2019-08-30 16:18] bhovhannes commented on #335
I've just published version `3.0.1` with the latest file-loader.

[2019-08-30 16:18] #335 closed

[2019-08-30 16:19] evilebottnawi commented on #335
What is problem use `^` in deps to avoid future problems?

[2019-08-30 17:11] bhovhannes commented on #335
I don't see the problem with fixed version, except having 2 versions of file-loader in node_modules.

Did you had any issues with version 3.0.0 of svg-url-loader?

[2019-08-30 17:31] evilebottnawi commented on #335
Problem what is in bad practice for packages, it potentially case problem in future and better avoid this

[2019-08-30 19:21] bhovhannes commented on #335
I see the point in specifying `^` in order to make it clear that `svg-url-loader` works with all 4.x.x versions of `file-loader`.

However I don't see what problems/bugs may happen if I leave the exact version. Even more, it is possible that version `4.3.0` of `file-loader` will introduce a bug and if I put `^` in `svg-url-loader` dependencies, consumers without lockfile will get that bug during t

[2019-08-31 12:10] evilebottnawi commented on #335
Seriously?
- For example we can have security problem and fix it, now you need do release, if you are unavailable, such as on vacation or ill, you will potentially supply a vulnerable version
- We can change hash algorithm, but loader still will be generate old hashes, which may lead to ineffective Long Term Caching
- A lot of other scenarios, if you need i can write them

No, because transitive d

[2019-09-04 17:51] bhovhannes commented on #335
I agree with all that scenarios, but here we'll only have issues if I will not release a new version after each release of `file-loader`.

There are 2 types of svg-url-loader consumers - type A - people having lockfile and type B - people without lockfile.
Let's consider both cases:

A) Consumer has a lockfile. He has pinned all dependencies via lockfile and even if I will have `^` in my package.j

[2019-09-04 17:59] bhovhannes commented on #335
I've put `~` in version `3.0.2`- https://github.com/bhovhannes/svg-url-loader/releases/tag/v3.0.2

[2019-09-04 17:59] evilebottnawi commented on #335
Using `~` not solve problems because new features is unavailable and some fixed can be done only as `minor` release (look in semver).

And A and B still have problems with transitive dependencies because you **cannot control them**.

A lot of articles on reddit and medium from yarn and npm developers about this. You can find them using google. Using `specify` version (like you use only recommended

[2019-09-04 18:13] bhovhannes commented on #335
There is also a possibility of security fixes which require breaking changes and that will be a major bump. That does not mean I have to put `*` in my `package.json`, right?

If you have a link to a detailed article covering all pros and cons of both approaches I'll be more than happy to go through it.

Understand me right, I am always glad when someone points me that something can be improved and

[2019-09-04 18:16] bhovhannes commented on #335
A does not have problems with transitive dependencies, because lockfile locks all versions of packages in dependency tree. That is why lockfiles have been designed for - to make people install the same versions of every package (including their dependencies and dependencies of their dependencies) every time they run `npm install` or `yarn`

[2019-09-04 18:22] evilebottnawi commented on #335
No, you should use `^` to allow minor releases

Update lock file will create a problem, and believe me, all repositories do the update. Also when something bump and transitive deps also will be bumping, so protecting using `specify` version is not helping

You can configure `renovate` and update deps even you use `~`/`^` then configure renovate to automatically merge if CI green (less time on merg

[2019-09-04 20:13] bhovhannes commented on #335
I don't really care about how popular repos are doing things. It's a thing you should look at, but being popular does not mean they all are doing things right. We had 3 cases when karma dependency specified as `^` caused build issues for us (at that time we were not using lockfile). If karma used pinned versions down the dependency tree, we won't have any issue, even without lockfile.

Everyone, a

[2019-09-04 20:27] bhovhannes commented on #335
BTW, I've configured renovate to upgrade `file-loader` and `loader-utils` as soon as they'll have a new version (see https://github.com/bhovhannes/svg-url-loader/commit/951bf3fedf72587e15590865ed9630300e211836)

[2019-10-02 23:32] dko-slapdash opened #341 "The benefits of data:xyz style vs. SVG sprites"
Hi.

I just noticed that one thing is not mentioned anywhere in README, but it may have some value to the users.

So, **images with data url appear on the screen way faster than all regular images (even if the regular images are in the browser cache already)**, at least in Chrome. With data url, the images appear on the screen at the same time the text around them appears. With regular images, the

[2019-10-03 12:03] bhovhannes commented on #341
yep, perhaps this can be worth mentioning in readme, thanks!

[2019-12-29 12:15] dimitor115 opened #352 "[Proposal] Add option to skip some phrase during encoding"
Hi, I'm currently working on some project where we inline our svgs in the CSS (SCSS). At this moment I'm facing a situation where I have one SVG file per icon and I would like to have it in different colors.

While there is no easy way to style using CSS the SVG inlined as URL, I had an idea to change the color using SCSS variables. As this awesome guy did here: https://codepen.io/kevinweber/pen/d

[2020-01-06 10:39] bhovhannes commented on #352
@dimitor115 can you please explain your idea more?

This loader should be applied to SVG files. When applied to SCSS file it may work because currently internally it uses regular expressions to escape unsafe characters. However this is internal implementation detail and one should not rely on that.

[2020-01-30 16:12] leoolmos opened #360 "Issues to find SVGs inside imported sass files."
I'm having problems to convert SVGs inside sass files. Do you have an example?

Today I have my entryFile - index.js > import main.sass > import X.sass > that have background-image: [url("test.svg").](url)

My webpack config is:

[code]

[2020-01-31 10:16] leoolmos commented on #360
Sorry, I found the issue. absolute paths in the css :/

[2020-01-31 10:16] #360 closed

[2020-02-04 16:44] alexander-akait opened #363 "Please update `file-loader` to latest version"
Latest version of `file-loader` is https://github.com/webpack-contrib/file-loader/blob/master/package.json#L3. We switch to ES modules syntax and it is allow to tree shake code, I would suggest to do it too:
- update `file-loader` to latest version, introduce `esModule` option (default value is `false`) and do minor release
- switch `esModule` to `true` and do major release

[2020-02-04 18:55] bhovhannes commented on #363
Does esModules=true work for file-loader for webpack version 4?

On Tue, Feb 4, 2020, 8:44 PM Evilebot Tnawi <notifications@github.com>
wrote:

[2020-02-05 10:08] evilebottnawi commented on #363
@bhovhannes yes, but i recommend to use the `5` version

[2020-02-07 14:48] bhovhannes commented on #363
Temporary solution was to bump file-loader version to v5, passing `esModule=false` to `file-loader`.

That was done in #346 .

I am not ready to enable `esModule=true` by default as not every consumer if this package has babel loader. And thus I am not going to introduce any new option to this loader at this moment. I plan to think about this when webpack 5 will be released.

@evilebottnawi, just

[2020-02-07 14:53] evilebottnawi commented on #363
@bhovhannes

You don't need babel for `import`, webpack handle that on own side. We support `import` since webpack@4 without any additional loaders.

Yes, it is reduce bundle size - https://webpack.js.org/plugins/module-concatenation-plugin/. It is allow remove unnecessary module and include value of module directly. Less modules - less size- fast runtime

[2020-02-07 14:56] bhovhannes commented on #363
Thanks for info.
Then why `esModule` option is not true by default in `file-loader`?

[2020-02-07 15:01] evilebottnawi commented on #363
https://github.com/webpack-contrib/file-loader#esmodule - default is `true`

[2020-02-07 15:05] bhovhannes commented on #363
I mean it was introduced to be false by default and then was made to be true. What was the reason for that?

[2020-02-07 15:17] evilebottnawi commented on #363
Module concatenation, simple example

**string.js**

[code]

**index.js**

[code]

When you run webpack in production mode and got only one module:
[code]

No extra module. It is very very very simple case.

[2020-02-07 15:28] bhovhannes commented on #363
Thanks for example. I am trying to understand why you suggest to release 2 versions and introduce a new option - `esModule` (like it was done in `file-loader`), if it works ok starting from webpack 4.

Well yes, if I care about folks using webpack 3 I should probably do like that and have that option in place.
However if I support only webpack 4 and above, why not to **always** pass `esModule=true

[2020-02-07 15:39] evilebottnawi commented on #363
Some other loaders can't support ES module import so it should be setup from configuration

[2020-02-07 16:12] bhovhannes commented on #363
Which loaders? Can't we try to upgrade them as well?

[2020-02-07 16:57] evilebottnawi commented on #363
@bhovhannes Any, any developer can create an own loader, so we can't update them, just introduce new option and do it true by default in next major release

[2020-02-07 18:14] bhovhannes commented on #363
I understand, just wondering if there are popular loaders which still does
not support esModule stuff.

On Fri, Feb 7, 2020, 8:57 PM Evilebot Tnawi <notifications@github.com>
wrote:

[2020-02-10 10:29] evilebottnawi commented on #363
All popular loaders inside webpack-contrib and they support esModule :+1:

[2020-02-12 07:59] allista opened #365 "Incorrect Data URI content when using issuer test"
Hi, I'm trying to use svg-url-loader along with svgr, which requires to test for issuer to only use svgr in jsx context. I also need to be able to import svgs as data uris from jsx. While trying to do so I've encountered the following data uri generated by svg-url-loader:

`data:image/svg+xml,module.exports = 'data:image/svg+xml,%253Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns

[2020-02-12 11:02] bhovhannes commented on #365
Hi, I don't follow, why you have 2 rules using svg-url-loader in your
webpack config?
In the code you have described svgr is not used at all...

On Wed, Feb 12, 2020, 11:59 AM Allis Tauri <notifications@github.com> wrote:

[2020-04-27 08:04] temple commented on #126
Apparently, this seems not to work, cause somehow something swallows surrounding quotes of single valued attributes, such for example `src` attribute for `<img>` tags.

See [this project sample](https://github.com/frontend-lessons/webpack-essential) at [commit 2b81598](https://github.com/frontend-lessons/webpack-essential/tree/2b815985c976118a1e52a1e2e6e4bb7f66e8d75c), what has _html-loader_ and _

[2020-04-27 09:03] temple commented on #126
As a possible workaround, setting `removeAttributeQuotes` to `false` in the [`minimize` options object](https://github.com/webpack-contrib/html-loader#minimize), may work.

[2020-04-27 09:32] temple commented on #239
@durja please, see this [comment](https://github.com/bhovhannes/svg-url-loader/issues/126#issuecomment-619839986) about how

[2020-05-13 16:16] raphaelbs opened #388 "Doesn't working on image tag"
Hi!
First of all, this loader is amazing! Kudos!

The project that I'm working on has a lot of svgs as img sources, e.g.:

[code]

The output of this loader is producing an additional quotes that is preventing the SVG to appear on the page:

![image](https://user-images.githubusercontent.com/11169832/81837585-6b97fd80-951b-11ea-9b0f-e046f794e759.png)

If I manually remove it, it does work.

[2020-05-13 17:30] raphaelbs commented on #388
Ops, I was using the version 2.x.x.
After upgrading it to version 5, worked!

[2020-05-13 17:30] #388 closed

[2020-05-14 09:34] bhovhannes commented on #388
Glad for you!
There used to be `noQuotes` option, but with recent version of html-loader and svg-url-loader this option is no longer needed as loaders themselves figure out whenever they should append quotes or not.

[2020-05-23 10:18] irudoy opened #390 "Missing webpack in peerDependencies for yarn@2 compatibility"
[code]

The problem: https://yarnpkg.com/advanced/error-codes#yn0002---missing_peer_dependency
Detailed explanation: https://dev.to/arcanis/implicit-transitive-peer-dependencies-ed0

[2020-05-24 08:00] #341 closed

[2020-05-24 08:00] #390 closed

[2020-05-24 08:43] #104 closed

[2020-05-24 08:49] bhovhannes commented on #390
@irudoy thank you for reporting this.
The fix has been released in version `5.0.1` and it is also present in `6.0.0`.

[2020-05-27 15:06] Yegorich555 opened #391 "Please Add CHANGELOG.md"
Thank you for your package, but I'm surprised not to see CHANGELOG.md.
This is must-have for good package and helps to understand is it possible update package without breaking changes or not.

Could you add CHANGELOG.md?

[2020-05-27 15:41] bhovhannes commented on #391
[Releases](https://github.com/bhovhannes/svg-url-loader/releases) already have that information.

I don't want to duplicate the same info in `CHANGELOG.md`.

[2020-05-27 15:41] #391 closed

[2020-11-26 16:31] bhovhannes commented on #365
Closing this because I've received no feedback. Comment here if is it still the issue for you, I am ready to investigate.

[2020-11-26 16:31] #365 closed

[2020-11-26 16:51] #363 closed

[2020-11-27 21:18] #323 closed

[2020-11-27 21:54] #133 closed

[2020-11-29 11:44] bhovhannes commented on #111
This is no longer an issue, closing this.

[2020-11-29 11:44] #111 closed

[2021-01-21 13:07] renovate[bot] opened #460 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-04-10 07:56] xiang0308 opened #486 "Error report of introducing SVG file into img tag ? Please refer to the screenshot."
![svg-error](https://user-images.githubusercontent.com/16834032/114262935-3a6aca80-9a15-11eb-8e8f-ad79bafc382e.jpg)

[2021-04-10 09:38] bhovhannes commented on #486
Hi, please let me know how can I reproduce the issue.

Ideal would be to provide a repo with webpack configured and the image under question, where I can run something and see the error.

Otherwise I have no idea what can be wrong.

[2021-04-10 10:49] xiang0308 commented on #486
In webpack config:
`      {
        test: /\.svg$/,
        loader: 'svg-url-loader',
        options: {}
      }`

in html:
`<img  src="test.svg">`

[2021-04-10 10:52] bhovhannes commented on #486
What is your webpack version?

[2021-04-10 12:55] xiang0308 commented on #486
4.11.1

[2021-04-19 08:36] bhovhannes commented on #486
@xiang0308 to be honest I don't understand your repo setup. Webpack does not parse HTML and you say that you have `<img src="test.svg">` inside HTML...
Unless you have some loader for HTML files and import that HTML file inside your JavaScript. In that case you should have more that one loader in a chain, and who knows, maybe some specific loader combination is causing the issue you faced.

That's

[2021-08-02 07:01] urbanbratcoder opened #524 ""module export" instead of svg directly"
Hi Folks,
in css there will be generated
`background-image: url(data:image/svg+xml;base64,bW9kdWxlLmV4cG9ydHMgPSAiZGF0YTpp...`
the base64-encoded part is
`module.exports = "data:image/svg+xml,%3csvg viewBox='0 0 32.72 90.57' xmlns='http://www.w3.org/2000/svg'%3e%3cg fill='none'...`

My webpack config:

[code]

I cannot find the cause of this. There is no other svg-loader.
My packages:
[code]

Does

[2021-08-02 10:46] bhovhannes commented on #524
Hi, are you using webpack 5 ?

I am asking because we have a PR https://github.com/bhovhannes/svg-url-loader/pull/478 which has test failures, which makes me think that something in the code is not compatible with webpack 5.

[2021-08-02 10:51] urbanbratcoder commented on #524
Yes, i do. If webpack 5 is the problem, then that's curious. Because it worked with webpack 5 up until recently. I try to find out what changed.

[2021-08-03 05:28] urbanbratcoder commented on #524
I got good and bad news. Svg-url-loader was responsible for "model export" within the data uri. The "type: 'asset/inline'" triggers the builtin asset module from webpack 5, making the conversion happening twice. Removing svg-url-loader resulting in
[code]
gets it working again. Unfortunately i have not been able to get it to work that svg-url-loader is solely responsible. It is a pity and i hope t

[2021-08-20 14:45] efkan commented on #486
I've run into the same issue after changed webpack configuration as following:
![image](https://user-images.githubusercontent.com/6974198/130251226-b7fcd028-d342-47fe-a013-e0bf33ca4ce7.png)

[2021-08-25 04:46] renovate[bot] opened #527 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency webpack to v5.51.1](../pull/478)
 - [ ] [chore(deps): update dependency css-loader to v6](../pull/520)

---

-

[2021-08-30 09:45] #527 closed

[2021-09-07 22:46] LambdaZed commented on #524
You can use `'asset/inline'` with `generator` property
[code]

Or you can simply use `mini-svg-data-uri`
[code]

[2021-09-14 14:30] lada commented on #524
From Webpack 5 documentation:

[code]

Works perfect for me.

[2021-09-21 08:08] urbanbratcoder commented on #524
Thank you guys! LambdaZed's solution got me learning something again and lada's hint for the documentation is absolutely right. I somehow read over this paragraph.

[2021-09-21 08:08] #524 closed

[2022-01-31 21:50] #460 closed

[2022-05-12 12:58] villesau opened #587 "Malformed svg produced"
Hi, We have a following svg: https://gist.github.com/villesau/2f4182fca1f5c61e5b4246c188617c74

Locally, following data uri is produced: https://gist.github.com/villesau/856334688e6dc1643c5410ecb85cf6b2
When building the production build, the result is following: https://gist.github.com/villesau/a2b43088424eb3ab60989941785bb236

The problematic part in prod build is this:

[code]

	As you see, the

[2022-05-12 16:44] bhovhannes commented on #587
Hi,
Do you have any other webpack loaders configured?

Replacement logic in `svg-url-loader` is pretty simple (it is actually a series of simple regex replacements) and while I am not 100% sure without writing a failing test case, it should not change places of characters, only replace them with correspondent code.

[2022-05-12 21:07] villesau commented on #587
Yeah, `css-loader`& `less-loader`. However, this started happening when moving from `url-loader` to `svg-url-loader`. Though, there's a chance that simultaneously changing the `limit` property revealed the actual issue here. The svg is imported in less file, and the error was not there before changing to `svg-url-loader` and changing the `limit`. Maybe either css-loader or less-loader is not prope

[2022-05-13 05:49] bhovhannes commented on #587
I don't know about `css-loader` and `less-loader`. There are many different pieces in such setup and a variety of options. If you can put together a minimal repo with the issue that will be super useful.

I will look into this issue in a week, got some high-priority work related stuff to do.